

body {
    width: 22cm;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(215, 255, 215, 0.555);
    font-family: 'Times New Roman', Times, serif; color: solid black;
    border: solid rgba(36, 95, 18, 0.5);
    font-display: flex;
    padding: 2px;
    font-size: 18px;


}
body div{
    border-right-style: dotted;color: black; width: auto;
    border-left-style: double;color: blueviolet;
    border-top-style: groove;color: chartreuse; width: auto;
    border-bottom-style: ridge;color: cyan;
    
}


.img1{
    margin-left: 550px;
    margin-top: -500px;
    margin-bottom: -auto;
}
.section2{
    margin-top: -25px;
}
.ul1{
    font-size: 20px;
    margin-left: -40px;
}
.ul2{
    margin-left: -40px;
}
.ul3{
    font-size: 20px;
    margin-left: -40px;
}
.ul4{
    font-size: 20px;
    margin-left: -40px;  
}
.ul5{
    font-size: 20px;
    margin-left: -40px;
}
.ul6{
    font-size: 20px;
    margin-left: -40px;
}
.ul7{
    font-size: 20px;
    margin-left: -40px;
}
.ul8{
    font-size: 20px;
    margin-left: -40px;
}